# Tuplas

Tuplas são uma estrutura de dados do Python, cujo objetivo (assim como as listas) é armazenar diversos dados. Algumas características das tuplas são:

- tupla = (elemento1, elemento2, elemento3....)
- é uma sequência ordenada de elementos
- seus elementos possuem índice
- podem ser heterogêneas (possuirem tipos diferentes de dados)
- é **imutável**

# Criando uma tupla

In [1]:
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
print(numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
type(numeros)

tuple

In [4]:
pessoas = ('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [5]:
print(pessoas)

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [6]:
type(pessoas)

tuple

# Acessando os elementos de uma tupla

In [7]:
pessoas

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [8]:
pessoas[0]

'Maria'

In [9]:
pessoas[5]

14

In [10]:
pessoas[-3]

14

# Tuplas são imutáveis!

Logo, não conseguimos manipular os elementos de uma tupla!

In [11]:
pessoas

('Maria', 34, 'João', 27, 'Gabriel', 14, 'Mariana', 41)

In [12]:
pessoas[0] = 'Joana'

TypeError: 'tuple' object does not support item assignment

In [13]:
del pessoas[1]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
pessoas[8] = 'teste'

TypeError: 'tuple' object does not support item assignment