# 1-Utilizando as funções `print()` e `input()`

1.1 - Crie um script que solicite ao usuário o seu nome e em seguida imprima a frase: **"`nome do usuário`, seja muito bem vindo(a)!"**

# 2-Operadores aritméticos

2.1 - Utilize o Python para calcular a média das notas de uma prova de matemática.

- **Nota 1:** 7.8
- **Nota 2:** 8.9
- **Nota 3:** 8.3

In [9]:
Nota1 = 7.8
Nota2 = 8.9
Nota3 = 8.3

resultado = (Nota1 + Nota2 + Nota3) / 3 

print(f"Média é igual = {resultado:.2f}")

Média é igual = 8.33

2.2 - Sabemos que a fórmula para calcular a área de um retângulo é **A = b.h**, onde:

- **A** é a área a ser calculada
- **b** é o comprimento da base 
- **h** o comprimento da altura. 

Dado o retângulo abaixo, utilize o Python para calcular a sua área.

![image.png]()

In [11]:
A = 0
B = 12
C = 10

A = B*C
print("A área do quadrado é =", A)

A área do quadrado é = 120

2.3 - Utilize a linguagem Python para calcular a seguinte expressão matemática:

$$
\begin{aligned}
x & = 20 * 7 +  4^2  / 4 \\
\end{aligned}
$$

In [15]:
print((20*7)+(4**2)/4)

144.0
16

# 3-Operadores relacionais e lógicos

3.1 - Verifique se 10 é maior ou igual a 15

In [16]:
print(10>=15)

False

3.2 - Verifique se a string **Python** é igual à string **python**

In [19]:
print("Python" == "python")

False

3.3 - Verifique se 100 é menor que 59 **E** se 200 é maior ou igual a 159

In [20]:
print(100<59 and 200 >=159)

False

3.4 - Verifique se 100 é maior que 48 **OU** a string **Python** é igual à string **python**

In [21]:
print(100 > 48 or "Python" == "python")

True

3.5 - Faça a negação da expressão `10 > 3`

In [22]:
print(not 10 > 3)

False

# 4 - Trabalhando com strings

4.1 - Dada a frase **Eu amo programar na linguagem Python!**, utilize um método que retorne **EU AMO PROGRAMAR NA LINGUAGEM PYTHON!**

In [24]:
texto = "Eu amo programar na linguagem Python!"
print(texto.upper())

EU AMO PROGRAMAR NA LINGUAGEM PYTHON!

4.2 - Dada a frase **Eu amo programar na linguagem Python!**, utilize f-strings e a técnica de slicing para retornar a frase **Amo Python!**

**Atenção:** a letra **A** da palavra **amo** deve ser maiúscula!

In [42]:
texto = "Eu amo programar na linguagem Python!"
frase = texto[3:6]
print(frase.capitalize(),texto[30:37])

Amo Python!

# 5 - Estruturas de dados

## 5.1 - Listas

5.1.1 - Dada a lista abaixo, aplique as seguintes operações:

In [13]:
lista = [1, 100, 'Instagram', 'Python', 100, True, 0, False]

- adicione o elemento `Senai Ary Torres` no final da lista

In [14]:
lista.append("Senai Ary Torres")

print(lista)

[1, 100, 'Instagram', 'Python', 100, True, 0, False, 'Senai Ary Torres']

- adicione o elemento `149.50` na segunda posição da lista

In [15]:
lista.insert(1, 149.50)
print(lista)

[1, 149.5, 100, 'Instagram', 'Python', 100, True, 0, False, 'Senai Ary Torres']

- remova o elemento `Instagram` da lista

In [20]:
lista.remove(0)
print(lista)

[1, 149.5, 100, 'Python', 100, True, 0, False, 'Senai Ary Torres']

- modifique o elemento `False` para `True`

In [55]:
lista[6] = 'false'
print(lista)

[1, 149.5, 100, 149.5, 'Python', 100, 'false', 0, False, 'Senai Ary Torres']

- verifique se o elemento de índice 5 é igual ao elemento de índice 7

In [57]:
boolean = lista[5] == lista[7]

print(boolean)

False

## 5.2 - Dicionários

5.2.1 - Dado o dicionário abaixo, aplique as seguintes operações:

In [58]:
dados = {
    'nome': 'Senai Ary Torres',
    'curso': 'Primeiros passos na linguagem Python',
    'modulo': 'Exercícios de fixação',
    'nota obtida': 9.2
}

- imprima qual é o nome do curso

In [59]:
nomeCurso = dados['curso']

print(nomeCurso)

Primeiros passos na linguagem Python

- altere a nota obtida para **10.0**

In [61]:
notaAlterada = dados['nota obtida'] = 10.0
print(notaAlterada)
print(dados)

10.0
{'nome': 'Senai Ary Torres', 'curso': 'Primeiros passos na linguagem Python', 'modulo': 'Exercícios de fixação', 'nota obtida': 10.0}

- apague o elemento `modulo`

In [62]:
del dados['modulo']
print(dados)

{'nome': 'Senai Ary Torres', 'curso': 'Primeiros passos na linguagem Python', 'nota obtida': 10.0}

- imprima o nome do curso, com a **primeira letra de cada palavra** em **maiúsculo**

In [63]:
nomeCurso = dados['curso']
print(nomeCurso.capitalize())

Primeiros passos na linguagem python

## 5.3 - Tuplas

5.3.1 - Dada a tupla abaixo, imprima:

In [65]:
tupla = (1, 2, 3, (4, 5), (6, 7))

- o elemento **1**

In [66]:
print(tupla[0])

1

- o elemento **4**

In [74]:
elemento4 = tupla[3]
print(elemento4[0])
print(tupla[3])

4
(4, 5)

- o elemento **(6, 7)**

In [73]:
print(tupla[4])

(6, 7)

## 5.4 - Conjuntos (set)

5.4.1 - Dados os conjuntos abaixo, aplique as seguintes operações:

In [75]:
conj_a = {1, 2, 3, 4, 5}
conj_b = {6, 7, 3, 8, 9}

- a **união** dos conjuntos

In [77]:
conj_c = conj_a.union(conj_b)
print(conj_c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- a **interseção** dos conjuntos

In [80]:
conj_d = conj_a.intersection(conj_b)
print(conj_d)

{3}

# 6-Estruturas de repetição & condicionais

6.1 - Desafio 🔥🔥🔥

Neste desafio, vamos aumentar um pouquinho o nível de complexidade do exercício. Vamos utilizar os conceitos que praticamos acima, junto com as estruturas de repetição e condicionais para resolver o problema.

**Problema**

A lista abaixo contém as seguintes informações de pessoas que pretendem dirigir:

- `nome`: nome da pessoa
- `carteira`: **`True`** para as que possuem, **`False`** para as que não possuem
- `idade`:a idade da pessoa

Precisamos percorrer toda a lista e verificar se a pessoa pode ou não dirigir. Só podem dirigir as que possuem carteira **E** que a idade é maior ou igual a 18 anos.

- para as pessoas que podem dirigir, imprima a frase: **`nome pode dirigir.`**
- para as que não podem, imprima: **`nome não pode dirigir!`**

In [84]:
pessoas = [ ('João', True, 21), ('Gabriel', False, 25), ('Ana', True, 20), ('Victor', True, 30), ('Lucas', False, 15) ]

In [120]:
print("Lista de pessoas: ", pessoas)

for pessoa in pessoas:
    if pessoa[1] == True and pessoa[2] >= 18:
        print(pessoa[0], "pode dirigir")
    else:
        print(pessoa[0], "não pode dirigir")

Lista de pessoas:  [('João', True, 21), ('Gabriel', False, 25), ('Ana', True, 20), ('Victor', True, 30), ('Lucas', False, 15)]
João pode dirigir
Gabriel não pode dirigir
Ana pode dirigir
Victor pode dirigir
Lucas não pode dirigir

# 7-Funções

7.1 - Desafio 🔥🔥🔥

a) Crie uma função que receba 3 argumentos:

- nome
- carteira (True ou False)
- idade

e verifique se a pessoa pode ou não dirigir. 
- caso possa dirigir, a função deve imprimir a frase **`nome pode dirigir.`**
- caso negativo, deve imprimir **`nome não pode dirigir!`**

b) **reescreva a solução do último desafio utilizando a função que você criou!**

In [129]:
def Aprovados (pessoas):
    for pessoa in pessoas:
        if pessoa[1] == True and pessoa[2] >= 18:
            print(pessoa[0], "pode dirigir")
        else:
            print(pessoa[0], "não pode dirigir")

pessoas = [ ('João', True, 21), ('Gabriel', False, 25), ('Ana', True, 20), ('Victor', True, 30), ('Lucas', False, 15) ]


print("Lista de aprovados e reporvados:")
Aprovados(pessoas)

Lista de aprovados e reporvados:
João pode dirigir
Gabriel não pode dirigir
Ana pode dirigir
Victor pode dirigir
Lucas não pode dirigir

In [10]:
def Crescente(lista):
    n = len(lista)
    for i in range(n):
        idx = i
        for j in range(i+1, n):
            if lista[j] < lista[idx]:
                idx = j
                lista[i], lista[idx] = lista[idx], lista[i]

v = []
tamanho_lista = int(input("Escreva o tamanho da lista"))
while len(v) < tamanho_lista:
    x = int(input("Escreva um numero: "))
    v.append(x)
             

print("Lista original:", v)

Crescente(v)

print("Lista ordenada do menor para o maior:", v)

Escreva o tamanho da lista 4
Escreva um numero:  20
Escreva um numero:  10
Escreva um numero:  30
Escreva um numero:  40

Lista original: [20, 10, 30, 40]
Lista ordenada do maior para o menor: [10, 20, 30, 40]

In [11]:
def bubble_sort(lista):
    n = len(lista)
    for i in range(n):
        for j in range(0, n-i-1):
            if lista[j] < lista[j+1]:
                lista[j], lista[j+1] = lista[j+1], lista[j]

v = []
tamanho_lista = int(input("Escreva o tamanho da lista"))
while len(v) < tamanho_lista:
    x = int(input("Escreva um numero: "))
    v.append(x)
             

print("Lista original:", v)

bubble_sort(v)

print("Lista ordenada do maior para o menor:", v)

Escreva o tamanho da lista 3
Escreva um numero:  4
Escreva um numero:  3
Escreva um numero:  2

Lista original: [4, 3, 2]
Lista ordenada do maior para o menor: [4, 3, 2]

In [21]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

resultado = list(filter(lambda x: x in a, b))
resultado

[2, 3, 5, 7]

In [51]:
carrinho_compras = ['Banana', 'Arroz', 'Feijão', 'Nugget', 'Danone']
print(carrinho_compras)
print('Lista de produtos')
for carrinho in carrinho_compras:
    print(carrinho)
print()

print('Adicionando um produto')
carrinho_compras.append('Sorvete')
for carrinho in carrinho_compras:
    print(carrinho)
print()

print('Removendo um produto')
carrinho_compras.remove('Arroz')
for carrinho in carrinho_compras:
    print(carrinho)

print()
for carrinho in carrinho_compras:
    if carrinho == 'Banana':
        print(f"O item {carrinho} está na lista")
        break
    else:
        print('Não localizado')

print()

['Banana', 'Arroz', 'Feijão', 'Nugget', 'Danone']
Lista de produtos
Banana
Arroz
Feijão
Nugget
Danone

Adicionando um produto
Banana
Arroz
Feijão
Nugget
Danone
Sorvete

Removendo um produto
Banana
Feijão
Nugget
Danone
Sorvete

O item Banana está na lista