In [256]:
import pandas as pd
import os
import datetime

In [257]:
data = datetime.datetime.now()
data = data.strftime("%Y-%m-%d")

In [258]:
print(data)

2024-06-15

In [259]:
colunas = [
        'Segmento',
        'País',
        'Produto',
        'Qtde de Unidades Vendidas',
        'Preço Unitário',
        'Valor Total',
        'Desconto',
        'Valor Total c/ Desconto',
        'Custo Total',
        'Lucro',
        'Data',
        'Mês',
        'Ano'
    ]
print(colunas)

consolidado = pd.DataFrame(columns=colunas)
consolidado

['Segmento', 'País', 'Produto', 'Qtde de Unidades Vendidas', 'Preço Unitário', 'Valor Total', 'Desconto', 'Valor Total c/ Desconto', 'Custo Total', 'Lucro', 'Data', 'Mês', 'Ano']

Empty DataFrame
Columns: [Segmento, País, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [260]:
arquivos = os.listdir('planilhas Jardel')
len(arquivos)

26

In [261]:
for excel in arquivos:
    i = 0
    try:
        dados_arquivo = excel.split('-')
        segmento = dados_arquivo[0]
        pais = dados_arquivo[1].replace('.xlsx','')
    
        df = pd.read_excel(f"planilhas Jardel\\{excel}")
        df.insert(0, 'Segmento', segmento)
        df.insert(1, 'País', pais)
    
        consolidado = pd.concat([consolidado, df])
    except Exception as e:
        with open('log_erros.txt', 'a') as arquivo:
            arquivo.write(f'{i} O arquivo {excel} não é um documento valido de acordo com as regras de negocio.\n')
            i += 1
                    
consolidado.to_excel(f"Report-Consolidado-{data}.xlsx", index=False, sheet_name="Consolidado")

C:\Users\FIC\AppData\Local\Temp\ipykernel_15648\2586022498.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consolidado = pd.concat([consolidado, df])

In [262]:
#print(df)
consolidado.shape
print(consolidado)

         Segmento      País    Produto Qtde de Unidades Vendidas  \
0         Governo  Alemanha  Produto 1                      1321
1         Governo  Alemanha  Produto 1                      1513
2         Governo  Alemanha  Produto 2                      2146
3         Governo  Alemanha  Produto 3                      1006
4         Governo  Alemanha  Produto 3                      1513
..            ...       ...        ...                       ...
15  Vendas online    França  Produto 3                    2425.5
16  Vendas online    França  Produto 5                    1734.0
17  Vendas online    França  Produto 3                    1393.0
18  Vendas online    França  Produto 6                    1393.0
19  Vendas online    França  Produto 6                    2475.0

   Preço Unitário Valor Total  Desconto  Valor Total c/ Desconto  Custo Total  \
0              20       26420      0.00                 26420.00      14531.0
1             350      529550      0.00                529550.00     432718.0
2               7       15022      0.00                 15022.00      10730.0
3             350      352100      0.00                352100.00     261560.0
4             350      529550      0.00                529550.00     393380.0
..            ...         ...       ...                      ...          ...
15             12       29106   3201.66                 25904.34       7276.5
16             12       20808   2288.88                 18519.12       5202.0
17             12       16716   2340.24                 14375.76       4179.0
18             12       16716   2340.24                 14375.76       4179.0
19             12       29700   4158.00                 25542.00       7425.0

        Lucro       Data       Mês   Ano
0    11889.00 2019-01-01   Janeiro  2019
1    96832.00 2019-12-01  Dezembro  2019
2     4292.00 2019-09-01  Setembro  2019
3    90540.00 2019-06-01     Junho  2019
4   136170.00 2019-12-01  Dezembro  2019
..        ...        ...       ...   ...
15   18627.84 2019-07-01     Julho  2019
16   13317.12 2019-01-01   Janeiro  2019
17   10196.76 2019-10-01   Outubro  2019
18   10196.76 2019-10-01   Outubro  2019
19   18117.00 2019-08-01    Agosto  2019

[700 rows x 13 columns]