In [2]:
import pandas as pd

In [4]:
# Carregar o arquivo Excel
caminho_arquivo = './02 - Biblioteca Pandas/08 - Pandas - Carregando Dados/datasets/Vendas.xlsx'
dados_excel = pd.read_excel(caminho_arquivo)

In [5]:
# Visualizar as primeiras linhas do DataFrame
print("Primeiras linhas do DataFrame:")
dados_excel.head()

Primeiras linhas do DataFrame:

   matricula_funcionario  Nome Funcionario
0              123456111        José Maria
1              123456111        José Maria
2              123456222  Maria das Graças
3              123456333      Jorge Mateus
4              123456555        Marta Cury

In [10]:
# Verificar informações sobre o DataFrame
print("\nInformações sobre o DataFrame:")
dados_excel.describe()
#dados_excel.shape

Informações sobre o DataFrame:

       matricula_funcionario
count           1.300000e+01
mean            1.234566e+08
std             3.820269e+02
min             1.234561e+08
25%             1.234563e+08
50%             1.234567e+08
75%             1.234570e+08
max             1.234571e+08

In [11]:
# Resumo estatístico das variáveis numéricas
print("\nResumo estatístico das variáveis numéricas:")
dados_excel.info()

Resumo estatístico das variáveis numéricas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   matricula_funcionario  13 non-null     int64
 1   Nome Funcionario       13 non-null     object
dtypes: int64(1), object(1)
memory usage: 340.0+ bytes

In [12]:
# Verificar se há valores nulos
print("\nValores nulos no DataFrame:")
dados_excel.isnull().sum()

Valores nulos no DataFrame:

matricula_funcionario    0
Nome Funcionario         0
dtype: int64

In [13]:
# Visualizar algumas estatísticas das variáveis categóricas
print("\nAlgumas estatísticas das variáveis categóricas:")
dados_excel.describe(include='object')

Algumas estatísticas das variáveis categóricas:

       Nome Funcionario
count                13
unique               12
top          José Maria
freq                  2

In [19]:
# Contar os valores únicos em cada coluna categórica
print("\nValores únicos em cada coluna categórica:")
dados_excel[matricula_funcionario].unique()

Valores únicos em cada coluna categórica:

NameError: name 'matricula_funcionario' is not defined